In [80]:
import pandas as pd

In [27]:
data = pd.read_csv('internship_train.csv')

In [28]:
data

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,target
0,236,488,16,221,382,97,-4.472136,0.107472,0,132,...,13.340874,0.870542,1.962937,7.466666,11.547794,8.822916,9.046424,7.895535,11.010677,20.107472
1,386,206,357,232,1,198,7.810250,0.763713,1,143,...,12.484882,7.168680,2.885415,12.413973,10.260494,10.091351,9.270888,3.173994,13.921871,61.763713
2,429,49,481,111,111,146,8.602325,0.651162,1,430,...,14.030257,0.394970,8.160625,12.592059,8.937577,2.265191,11.255721,12.794841,12.080951,74.651162
3,414,350,481,370,208,158,8.306624,0.424645,1,340,...,2.789577,6.416708,10.549814,11.456437,6.468099,2.519049,0.258284,9.317696,5.383098,69.424645
4,318,359,20,218,317,301,8.124038,0.767304,1,212,...,1.886560,1.919999,2.268203,0.149421,4.105907,10.416291,6.816217,8.586960,4.512419,66.767304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,328,44,320,364,7,73,4.898979,0.563878,1,315,...,0.266362,6.185887,7.716837,10.144664,1.711649,3.849704,12.401903,14.195540,2.371207,24.563878
89996,217,472,174,327,255,389,-3.605551,0.861690,0,144,...,5.147059,4.209660,14.482770,1.375031,6.386263,10.107582,12.637902,6.576331,6.863238,13.861690
89997,189,406,213,57,494,190,6.164414,0.633704,1,221,...,14.902807,2.886534,8.683168,4.522339,1.556421,10.971184,7.792226,8.422623,3.041409,38.633704
89998,418,478,163,35,390,77,-3.605551,0.687309,0,289,...,12.743029,2.525611,11.050145,6.589943,12.622192,10.596839,0.647584,8.746364,1.246682,13.687309
89999,244,335,337,152,386,202,7.681146,0.613207,1,26,...,11.069077,6.303448,14.031393,1.877340,13.361607,2.164695,11.255181,3.404303,9.587379,59.613207

In [29]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,target
count,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,...,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000
mean,249.423944,250.236267,248.637289,249.736600,249.436178,249.656167,-0.011402,0.498548,0.499189,249.842033,...,7.475155,7.523962,7.508397,7.473322,7.490658,7.474578,7.509206,7.487159,7.513316,50.033981
std,144.336393,144.022200,144.107577,144.284945,143.941581,144.329168,7.038171,0.288682,0.500002,144.612718,...,4.330410,4.321537,4.331761,4.335692,4.332122,4.323035,4.326364,4.324876,4.333080,28.897243
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.949874,0.000014,0.000000,0.000000,...,0.000019,0.000040,0.000154,0.000083,0.000367,0.000014,0.000160,0.000147,0.000125,0.002634
25%,125.000000,126.000000,124.000000,125.000000,125.000000,124.000000,-7.071068,0.248932,0.000000,124.000000,...,3.707544,3.797002,3.760627,3.715721,3.739358,3.715298,3.773381,3.743536,3.776322,25.091903
50%,250.000000,251.000000,248.000000,250.000000,250.000000,250.000000,0.000000,0.497136,0.000000,250.000000,...,7.474127,7.533987,7.505259,7.459774,7.494167,7.477270,7.512575,7.476564,7.506812,50.030705
75%,374.000000,375.000000,374.000000,375.000000,373.000000,374.000000,7.000000,0.747513,1.000000,376.000000,...,11.216585,11.276349,11.261971,11.215637,11.239232,11.210070,11.268156,11.234414,11.277835,75.059454
max,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,9.949874,0.999987,1.000000,499.000000,...,14.999900,14.999528,14.999733,14.999478,14.999869,14.999928,14.999948,14.999364,14.999775,99.999482

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split

In [31]:
modelLR = LinearRegression()
modelNN = MLPRegressor()
modelRF = RandomForestRegressor()

In [32]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,target
0,236,488,16,221,382,97,-4.472136,0.107472,0,132,...,13.340874,0.870542,1.962937,7.466666,11.547794,8.822916,9.046424,7.895535,11.010677,20.107472
1,386,206,357,232,1,198,7.810250,0.763713,1,143,...,12.484882,7.168680,2.885415,12.413973,10.260494,10.091351,9.270888,3.173994,13.921871,61.763713
2,429,49,481,111,111,146,8.602325,0.651162,1,430,...,14.030257,0.394970,8.160625,12.592059,8.937577,2.265191,11.255721,12.794841,12.080951,74.651162
3,414,350,481,370,208,158,8.306624,0.424645,1,340,...,2.789577,6.416708,10.549814,11.456437,6.468099,2.519049,0.258284,9.317696,5.383098,69.424645
4,318,359,20,218,317,301,8.124038,0.767304,1,212,...,1.886560,1.919999,2.268203,0.149421,4.105907,10.416291,6.816217,8.586960,4.512419,66.767304

In [33]:
x = data.iloc[:, 0:53]
y = data.iloc[:, 53:54]

In [34]:
y

          target
0      20.107472
1      61.763713
2      74.651162
3      69.424645
4      66.767304
...          ...
89995  24.563878
89996  13.861690
89997  38.633704
89998  13.687309
89999  59.613207

[90000 rows x 1 columns]

In [35]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(x,y, test_size = 0.2, random_state = 1)

In [36]:
Xtest

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
51466,244,439,144,126,144,240,-5.196152,0.218664,0,203,...,0.144096,9.429973,9.273639,14.115146,9.260578,1.161663,6.102983,3.090071,12.139017,6.157536
30175,158,153,48,230,33,52,-7.549834,0.429961,0,227,...,5.528498,3.549915,7.233118,7.153687,0.284825,0.967409,14.428568,0.089058,6.958958,11.457305
89034,224,37,217,206,184,348,-8.062258,0.846731,0,105,...,12.990197,5.469969,0.636932,4.246468,7.702925,1.348000,3.238526,3.773742,6.413672,14.624216
24929,198,124,324,368,159,411,-5.385165,0.641764,0,5,...,14.692993,8.807561,14.123967,12.887896,8.037714,3.190350,4.563219,13.576401,10.510453,7.207442
26512,199,155,306,375,290,2,9.899495,0.994446,1,3,...,9.289475,9.900639,6.559701,4.527013,14.546323,8.795585,3.364328,7.238899,5.530187,9.660869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78770,198,442,217,430,252,450,-7.280110,0.631902,0,399,...,4.510616,3.902405,1.120272,7.064532,14.045645,3.066587,10.444204,11.171603,14.930059,5.018423
46165,239,198,53,471,16,425,-1.000000,0.209802,0,427,...,13.762407,13.298973,13.166654,11.132996,3.228384,6.920220,4.284728,3.503315,14.135082,0.244618
83358,253,154,420,112,239,201,-4.472136,0.555255,0,349,...,0.477442,11.503368,6.776778,9.871700,7.622015,14.166560,3.033317,8.274076,0.479880,7.941530
59978,475,174,476,413,438,265,-1.414214,0.115818,0,418,...,10.442353,10.502874,6.790627,11.229246,12.815756,3.837910,3.765496,4.892082,0.036043,5.808820
61923,323,267,169,420,336,394,-8.124038,0.557898,0,312,...,12.635888,4.481425,2.487126,2.564114,3.527147,14.317452,11.552615,5.674438,9.903267,10.660195

In [37]:
Ytest

          target
51466  27.218664
30175  57.429961
89034  65.846731
24929  29.641764
26512  98.994446
...          ...
78770  53.631902
46165   1.209802
83358  20.555255
59978   2.115818
61923  66.557898

[18000 rows x 1 columns]

In [38]:
modelLR.fit(Xtrain,Ytrain)
modelNN.fit(Xtrain,Ytrain)
modelRF.fit(Xtrain,Ytrain)

C:\Users\sshhe\.conda\envs\Tensoflow\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1617: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\sshhe\AppData\Local\Temp\ipykernel_10388\107530324.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(Xtrain,Ytrain)

RandomForestRegressor()

In [46]:
print(modelLR.score(Xtest,Ytest))
print(modelNN.score(Xtest,Ytest))
print(modelRF.score(Xtest,Ytest))

-0.0006924077225580749
0.9968747563854047
0.9999999828650757

In [47]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [48]:
LRpred = modelLR.predict(Xtest)
NNpred = modelNN.predict(Xtest)
RFpred = modelRF.predict(Xtest)

In [49]:
print(mean_squared_error(LRpred,Ytest))
print(mean_squared_error(NNpred,Ytest))
print(mean_squared_error(RFpred,Ytest))

834.4017495431707
2.6059043914420563
1.4287517994306183e-05

In [50]:
## Second model

In [95]:
data2 = pd.read_csv('internship_hidden_test.csv')

In [96]:
import joblib

In [97]:
x_train = data2

In [98]:
modelLR.predict(x_train)

array([[48.0366789 ],
       [51.54260481],
       [49.82574662],
       ...,
       [51.35302265],
       [50.83423633],
       [50.40560714]])

In [99]:
pred = modelLR.predict(x_train)

In [71]:
print(pred)

[[48.0366789 ]
 [51.54260481]
 [49.82574662]
 ...
 [51.35302265]
 [50.83423633]
 [50.40560714]]

In [105]:
##

In [100]:
####

In [102]:
data2['target'] = pred

In [103]:
data2

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,target
0,259,388,402,340,156,382,3.316625,0.218760,1,164,...,10.227235,0.889111,9.190222,4.670908,0.931525,7.634177,0.158196,13.432551,2.511191,48.036679
1,441,192,381,421,452,123,-8.888194,0.700228,0,349,...,9.339161,4.221861,0.595563,13.865748,0.328453,11.507599,9.107966,1.302407,11.105604,51.542605
2,83,129,107,156,247,191,2.645751,0.494556,1,297,...,10.670237,10.350867,5.134417,5.898995,8.374986,4.638049,3.160023,2.243799,5.073030,49.825747
3,183,438,191,116,491,403,-6.164414,0.511117,0,272,...,12.782579,0.513072,0.321295,11.334062,11.735511,1.911520,8.365676,4.877288,11.601819,49.665576
4,449,156,310,188,279,465,8.000000,0.756416,1,90,...,1.140498,14.165074,7.688796,5.079241,8.152186,1.680403,13.215111,5.823109,1.038015,50.228782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,221,246,314,406,464,317,6.708204,0.436684,1,205,...,12.306512,7.778209,5.698493,10.023215,4.959409,4.056025,4.642375,4.533745,6.754558,48.490849
9996,152,157,32,133,369,261,5.656854,0.986208,1,457,...,13.176561,6.697370,4.119232,2.190155,14.555999,7.786794,9.414130,5.413161,4.134093,51.352782
9997,349,240,355,97,93,176,4.690416,0.830543,1,287,...,0.941523,3.555292,12.572057,7.058367,12.999451,1.901825,5.100031,1.498432,8.093801,51.353023
9998,427,70,63,265,62,150,4.000000,0.502337,1,124,...,1.593796,9.902159,2.548667,11.339210,14.192310,14.142207,9.966924,8.538981,7.036367,50.834236
9999,144,216,66,452,382,307,9.539392,0.986542,1,40,...,14.724772,3.093617,3.681825,11.427112,5.748047,8.053866,0.729627,0.767049,9.541795,50.405607

In [108]:
data2.to_csv('done.csv')

In [152]:
####

In [1]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.